<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>Document</title>
</head>
<body>
<header>
  <h1><a class="title" href="/">Notes</a></h1>
  <button onclick="window.location.href='/notes/new'">New Note</button>
</header>
  {% if notes.is_empty() %}
    <p>No notes yet!</p>
  {% endif %}
  {% for note in notes %}
    <div class="tile" onclick="window.location.href='/notes/{{ note.id }}/'">
      <div class="tile-header">
        <h2>{{ note.title }}</h2>
        <a href="/notes/edit/{{ note.id }}/">Edit</a>
      </div>
      <p class="summary">{{ note.body }}</p>
    </div>
  {% endfor %}
</body>
</html>
